body {
 font-family: 'Tajawal', sans-serif;
 margin: 0;
 box-sizing: border-box;
}

html {
 scroll-behavior: smooth;
}

/*logo*/
.pic-container {
 text-align: center;
 margin-top: 15%;
}

#logo {
 width: 5%;
}

/*intro text*/
.first-text-box {
 align-items: center;
 display: flex;
 justify-content: center;
}

.first-text {
 text-align: center;
 width: 45%;
}

.bold {
 font-weight: bold;
}

.intro-text {
 font-size: 25px;
 white-space: nowrap;
 overflow: hidden;
}

@keyframes animated-text{
 from{width: 0;}
 to{width: 100%;}
}

/* cursor animations */

@keyframes animated-cursor{
 from, to { border-color: transparent }
 50% { border-color: black }
}

@-webkit-keyframes animated-text{
 from{width: 0;}
 to{width: 100%;}
}

/* cursor animations */

@-webkit-keyframes animated-cursor{
 from, to { border-color: transparent }
 50% { border-color: black }
}

#intro-text {
 border-right: transparent solid 3px;
 margin-bottom: 0px;
 animation: animated-text 3s steps(52) 1s 1 normal both, animated-cursor 3000ms steps(52);
 animation-delay: 1s;
}

#intro-text2 {
 border-right: 3px transparent solid;
 width: 89%;
 margin-top: 0px;
 animation: animated-text 3s steps(41) 1s 1 normal both, animated-cursor 1000ms steps(41) infinite;
 animation-delay: 4s;
}

/*menu links*/
.links-container {
 margin-top: 4%;
 display: flex;
 justify-content: center;
}

.links {
 display: flex;
 justify-content: space-evenly;
 width: 40%;
}

.links a {
 text-decoration: none;
 color: black;
 font-size: 20px;
}

.links a:hover {
 opacity: .5;
}

/*about me section*/
.aboutMe {
 margin-left: 5%;
 width: 55%;
}

.subheader {
 font-size: 60px;
 margin-top: 15%;
 margin-bottom: 3%;
 font-family: 'Montserrat', sans-serif;
 font-weight: 900;
}

.aboutMe p {
 font-size: 25px;
 font-weight: bold;
}

/*skills section*/
#skills h2 {
 margin-top: 7%;
}

.skills-text {
 font-size: 25px;
 list-style-type: none;
 margin: 0;
 padding: 0;
 font-weight: bold;
}

/*projects section*/
.projects {
 margin-left: 5%;
 margin-right: 5%;
}

.projects h2 {
 margin-top: 10%;
}

.below-subheader {
  margin-bottom: 5%;
  font-size: 18px;
  font-weight: bold;
}

.below-subheader a {
  color: black;
}

.project-box img {
 max-width: 100%;
}

.project-container {
 display: flex;
 width: 100%;
 margin-bottom: 3%;
}

.project-image {
width: 25%;
box-sizing: border-box;
opacity: .5;
transition: ease .5s;
}

.project-image:hover {
 opacity: 1;
}

.project-text {
 float: right;
 width: 75%;
 display: flex;
 align-items: center;
}

.project-text p {
 padding-left: 5%;
 font-size: 25px;
 font-weight: bold;
}

.project-text a {
 color: black;
}

.project-image2:hover {
 opacity: 1;
}

.project-image2 {
 max-width: 25%;
 box-sizing: border-box;
 float: right;
 opacity: .5;
 transition: ease .5s;
 }
 
 .project-text2 {
  float: left;
  width: 75%;
  display: flex;
 align-items: center;
 font-weight: bold;
 }

 .project-text2 p {
  font-size: 25px;
  padding-right: 5%;
 }

.clearfix {
 clear: both;
}

/*contact section*/
.contact-box {
 margin-left: 5%;
 width: 40%;
}

.contact-box h2 {
 margin-top: 1%;
}

.email-box {
 display: flex;
}

.phone-box {
 display: flex;
}

.contact-image {
 display: flex;
 width: 12%;
}

.contact-image a img {
 max-width: 100%;
}

.contact-text p {
 margin-top: 0%;
 padding-top: 0%;
 font-size: 25px;
 margin-left: 5%;
 margin-bottom: 0%;
 padding-left: 1%;
 width: 100%;
}

.footer {
 display: flex;
 background-color: black;
 margin-top: 5%;
 justify-content: space-around;
}

.name {
 color: white;
 padding-top: 1%;
 padding-bottom: 1%;
 font-size: 20px;
}

.name a {
 color: white;
 text-decoration: none;
}

.name a:hover {
 opacity: .5;
}

.footer-links {
 float: left;
 display: flex;
 align-items: center;
}

.footer-links a {
 color: white;
 text-decoration: none;
 padding: 15px;
}

.footer-links a:hover {
 opacity: .5;
}

.instagram {
 display: flex;
 align-items: center;
}

.instagram a {
 color: white;
 text-decoration: none;
}

.instagram a:hover {
 opacity: .5;
}

@media screen and (max-width: 850px) and (min-width: 481px) {
 .first-text {
  width: 80%;
 }

 .project-image {
  opacity: 1;
 }

 .project-image2 {
  opacity: 1;
 }

 .aboutMe {
  width: 70%;
 }
}

@media screen and (max-width: 1150px) and (min-width: 851px) and (orientation: landscape) {
 .first-text {
  width: 65%;
 }

 .project-image {
  opacity: 1;
 }

 .project-image2 {
  opacity: 1;
 }
}

@media screen and (max-width: 480px) {
  #aboutMe p {
    font-weight: normal;
  }

  #skills ul li {
    font-weight: normal;
  }

  #projects p {
    font-weight: normal;
  }

 .first-text {
  width: 100%;
 }

 .intro-text {
  font-size: 15px;
 }

 .links {
  width: 80%;
  margin-bottom: 20%;
 }

 .links a {
  font-size: 12px;
 }

 .aboutMe {
  width: 90%;
  margin-bottom: 20%;
 }

 .aboutMe p {
  font-size: 16px;
 }

 #skills-text {
  font-size: 16px;
 }

 .project-text p {
  font-size: 16px;
 }

 .project-text2 p {
  font-size: 16px;
 }

 .project-image {
  display: flex;
  align-items: center;
 }

 .project-image2 {
  display: flex;
  align-items: center;
 }

 .contact-text p {
  font-size: 16px;
 }

 .contact-box {
  width: 100%;
 }
 
 .footer {
  display: block;
 }

 .name {
  text-align: center;
  padding-top: 0%;
  padding-bottom: 0%;
  margin-bottom: 0%;
 }


 .name a h3 {
  margin-bottom: 1%;
  padding-top: 1%;
 }

 .footer-links {
  justify-content: center;
  float: none;
 }

 .footer-links a {
  margin-bottom: 2%;
  padding-left: 10px;
  padding-right: 10px;
 }

 .instagram {
  display: block;
  text-align: center;
 }

 .instagram a {
  margin-top: 1%;
 }

}